
<header>
  <div class="logo">
      <img src="nodeInv.png" alt="Logo" />
  </div>
  <nav>
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="/" class="nav-button">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Accounts
              </a>
          </li>
          <li>
              <a href="/" class="nav-button">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Contacts
              </a>
          </li>
          <li>
              <a href="/Invoices" class="nav-button">
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Invoices
              </a>
          </li>
          <li>
              <a href="/" class="nav-button">
                  <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Payments
              </a>
          </li>
          <li>
              <a href="/" class="nav-button">
                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> About
              </a>
          </li>
      </ul>
  </nav>
</header>