<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <%- include('index') %>
  <title>Home Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- Wstawienie nagłówka -->
  <%- include('header') %> <!-- Wstawienie nagłówka -->

  <hr>
  <div class="container text-center">
    <div class="logo-container">
      <img src="nodeInv.png" alt="Logo" class="img-responsive" /> <!-- Dostosowanie do responsywności -->
    </div>
    <h1>
      Please check out the <a href="/invoices">Invoices Tutorial</a>.
    </h1>
  </div>
  <hr>
  
  <!-- Wstawienie stopki -->
  <%- include('footer') %> <!-- Wstawienie stopki -->
</body>
</html>
